.phase-one {
	float: left;
	margin-left: 100px;
	margin-top: 100px;
	background-blend-mode: all;
	border-radius: 20px;
}
.phase-two-choice {

}
.phase-two-enemy {

}
.phase-two-standby {

}
#attackButton {
	border-radius: 10px;
	width: 150px;
	height:50px;
}

.stats {
text-align: center;
font-size: 18px;
margin-top: 8px;
}
.displayName {
	font-size: 28px;
	color:black;
	text-align: center;
	color:black;
}
#greenAttack {
	color:green;
}
#blueHealth {
	color: blue;
}
#orangeCounter {
	color:red;
}
