.phase-one {
	float: left;
	margin-left: 100px;
	margin-top: 100px;
	background-blend-mode: all;
	border-radius: 20px;
}
.phase-two-standby {
	float: right;
	margin-top: 100px;
	background-blend-mode: all;
	border-radius: 20px;
	padding:10px;
}
.phase-two-enemy {
float:left;
margin-top: 250px;
}
.phase-two-chosen {
	margin-top: 250px;
	padding:10px;
}
#attackButton {
	border-radius: 10px;
	width: 150px;
	height:50px;
	margin-left:20px;
	color:#9c1617;
	background-color: #fa9312;
	font-size:25px;
}
#attackButton:hover {
	color:black;
	background-color: #9c1617;
	color: #fa9312;
}
#attackButton:active {
	-webkit-animation-name: thumb;
  -webkit-animation-duration: 200ms;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}

.stats {
text-align: center;
font-size: 18px;
margin-top: 8px;
}
.displayName {
	font-size: 28px;
	color:black;
	text-align: center;
	color:black;
}
.greenAttack {
	color:green;
}
.blueHealth {
	color: blue;
}
.redCounter {
	color:red;
}

@-webkit-keyframes thumb {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.second {
	float:right;
	margin-right:50px;
	margin-top: 200px;
	font-size:30px;
	border:1px solid black;
	border-radius:10px;
	padding:5px;
	color:#9c1617;
	background-color: #fa9312;
}
.third {
	float:left;
	margin-top: 20px;
	clear:both;
	margin-left: 150px;
	font-size:30px;
	border:1px solid #fa9312;
	border-radius:10px;
	padding:15px;
	color:#fa9312 ;
	background-color: white;
}
.messages {
	float: left;
	clear: both;
	margin-left: 150px;
	padding-top: 20px;
	font-size: 20px;
}
.dim {opacity:0.1;filter:alpha(opacity=90);}