.phase-one {
	float: left;
	margin-left: 100px;
	margin-top: 100px;
	background-blend-mode: all;
	border-radius: 20px;
}
.phase-two-standby {
	float: right;
	margin-top: 100px;
	background-blend-mode: all;
	border-radius: 20px;
	padding:10px;
}
.phase-two-enemy {
float:left;
margin-top: 250px;
}
.phase-two-chosen {
	margin-top: 250px;
	padding:10px;
}
#attackButton {
	border-radius: 10px;
	width: 150px;
	height:50px;
	margin-left:20px;
	color:white;
	background-color: black;
	font-size:25px;
}

.stats {
text-align: center;
font-size: 18px;
margin-top: 8px;
}
.displayName {
	font-size: 28px;
	color:black;
	text-align: center;
	color:black;
}
.greenAttack {
	color:green;
}
.blueHealth {
	color: blue;
}
.redCounter {
	color:red;
}
